# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# misc
.DS_Store
*.pem

# redis
**/dump.rdb

# dependencies
dist
node_modules

# env
.env

# yarn
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions